XOWNLOADER_ENVIRONMENT=development
XOWNLOADER_HOST=127.0.0.1
XOWNLOADER_PORT=8000
XOWNLOADER_DOWNLOAD_DIRECTORY=./data/downloads
XOWNLOADER_RETENTION_HOURS=24
XOWNLOADER_MAX_CONCURRENT_DOWNLOADS=2
XOWNLOADER_MAX_QUEUE_SIZE=50
XOWNLOADER_RATE_LIMIT_REQUESTS_PER_MINUTE=10
XOWNLOADER_MAX_FILE_SIZE_MB=2048
XOWNLOADER_MIN_FREE_DISK_MB=1024
XOWNLOADER_CLEANUP_INTERVAL_MINUTES=15
XOWNLOADER_ALLOWED_OUTPUT_FORMATS=mp4,mp3
XOWNLOADER_ALLOWED_VIDEO_QUALITIES=480p,720p,1080p
XOWNLOADER_ALLOWED_AUDIO_BITRATES=128K,192K,320K
XOWNLOADER_CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
